/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#commit-container {
  width: 960px;
  margin 0 auto;
}

section.commits {
  padding: 1em;
  margin: 0.3em;
  border: solid 1px;
}

section#current-commits {
  float: left;
  width: 480px;
}

section#commits-before {
  float: left;
  width: 150px;
}

section#commits-after {
  float: left;
  width: 150px;
}
